.home-background-color {
  background: rgb(48, 145, 164);
  background: -moz-radial-gradient(
    circle,
    rgba(48, 145, 164, 1) 1%,
    rgba(14, 14, 56, 1) 66%,
    rgba(10, 9, 49, 1) 85%,
    rgba(2, 0, 36, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(48, 145, 164, 1) 1%,
    rgba(14, 14, 56, 1) 66%,
    rgba(10, 9, 49, 1) 85%,
    rgba(2, 0, 36, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(48, 145, 164, 1) 1%,
    rgba(14, 14, 56, 1) 66%,
    rgba(10, 9, 49, 1) 85%,
    rgba(2, 0, 36, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3091a4",endColorstr="#020024",GradientType=1);
}
.icon {
  padding: 5px;
}

#navbar header {
  position: fixed; /* Make it stick to the top of the viewport */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it stays above other elements */
}

body {
  padding-top: 60px; /* Adjust to create space for the fixed navbar */
}

.nav {
  display: flex;
  justify-content: center; /* Center the items in the navbar */
}

.nav li {
  list-style: none;
}

.nav-link {
  text-align: center;
  padding: 10px;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 70px;
}
